@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@1,200&family=Roboto&display=swap');/*Add font*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{/*Add background color*/
background: cornflowerblue;
font-family: 'Josefin Sans', sans-serif;
}
.wrapper{
    margin-top: 10%;
}
.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.team{
    display:flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team_member{
    background-color: wheat;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:  black;
    position: relative;
    font-size: large;
}
.team .team_member h3{
    color: red ;
    font-size: 26px;
    margin-top: 40px;

}
.team .team_member p.role{
    color: Brown;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
   transform: translateX(-50%);
   
}
.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    
}