/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap'); */
body{
    background-color: aqua;
}
.Egor{
  background-color: orange;
  border-style: double;
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color:  black;
  position: relative;
  font-size: large;
}
.Daniela{
    background-color: orange;
    border-style: double;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:  black;
    position: relative;
    font-size: large;
  }
  .Petko{
    background-color: orange;
    border-style: double;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:  black;
    position: relative;
    font-size: large;
  }
  .Nicolay{
    background-color: orange;
    font-family: 'PT Sans Narrow', sans-serif;
    border-style: double;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:  black;
    position: relative;
    font-size: large;
  }
  .team{
    display:flex;
    text-align: center;
    margin-top: 100px;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.contacts{
    text-align: center;
    font-family: 'Geologica', sans-serif;
}
