.navbar {/*Navbar settings*/
    width: 100vw;
    height: 10vh;
    background-color: rgb(106, 114, 108);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    padding-left: 10px;
 
    border: 1px solid #fff;
    margin-bottom: 0px;
    box-sizing: border-box;
}
 
.navbar > a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar a:hover{
    color:#000;
    background: aquamarine;
}
.logo{
    position: left;
    height: 90px;
    left: 0;
    width: 160px;
    
    }